// primary colors
$primaryBackgroundColor: white;
$primaryTextColor: black;

// background colors
$subHeaderBG: #272343;
$mainHeaderBG: #f5f8fa;
$navBG: #FDFAF6;
$profileBG: #F7F7F7;

// text colors
$navbarMenuMainTextColor: #636270;
$navbarMenuAccentTextColor: #007580;
$greenTextColor: #00C867;
$orageTextColor: #FF5677;

// border colors
$navbarBorderColor: #E1E3E5;