/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
  .all-user-wrapper__search-content svg {
    right: 80px !important;
  }

  .table {
    width: 500px !important;

    .thead {
      th {
        font-size: 14px !important;
      }
    }
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .all-user-wrapper__search-content svg {
    right: 65px !important;
  }

  .table {
    width: 500px !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .all-user-wrapper__search-content svg {
    right: 75px !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  #all-user-section .all-user-wrapper__search-content svg {
    right: 195px !important;
  }
}

#all-user-section {
  .all-user-wrapper {
    border-radius: 0 0 12px 12px;
    background-color: $mainHeaderBG;
    padding-bottom: 20px;

    &__search-content {
      display: flex;
      justify-content: center;
      flex-basis: 566px;
      position: relative;
      padding: 15px 0;

      .search-box {
        width: 566px;
        padding: 0 15px;
        height: 40px;
        border-radius: 8px;
        caret-color: gray;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        transition: all .3s ease-in-out;

        &:focus-visible {
          outline: 0;

          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }
      }



      svg {
        position: absolute;
        right: 315px;
        top: 25px;
        color: $orageTextColor
      }
    }

    &__user-content {
      display: flex;
      justify-content: center;

      .table {
        width: 600px;
        background-color: white;
        padding: 10px;
        border: 1px solid $navbarBorderColor;
        border-radius: 8px;
        border-collapse: collapse;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        .thead {
          th {
            border: 1px solid $navbarBorderColor;
            padding: 8px;
            margin: 0;
            border-radius: 8px;
            color: $navbarMenuMainTextColor;
            cursor: pointer;

            button {
              background-color: white;
              border: 0;
              cursor: pointer;
            }
          }
        }

        .tbody {

          td {
            padding: 8px 15px;
            margin: 0;
            border: 1px solid $navbarBorderColor;
            border-radius: 8px;
            color: $navbarMenuAccentTextColor;

            span {
              color: $orageTextColor
            }
          }
        }
      }
    }
  }

  .no-user {
    display: flex;
    justify-content: center;

    h2 {
      color: $navbarMenuMainTextColor
    }
  }
}